<div class="contenedor-detalles">
    <h2 class="nombre">{{videojuego.nombre}}</h2>
    <div class="cabecera">
        <div class="reproductor" #video>
            <img alt="imagen de producto: {{videojuego.nombre}}" class="imagen-item" src="/imagen-videojuego/{{videojuego.id}}" loading="lazy">
            <video class="video-item" id="videoItem" width="100%" height="100%" >
                <source src="/video-videojuego/{{videojuego.id}}" type="video/webm">
                Tu navegador no soporta el tag de video.
            </video>
        </div>
        <div class="textos"> <!-- style="background-image: url(/imagen-videojuego/{{videojuego.id}});"-->
            <p><span>{{videojuego.plataforma}}</span></p>
            <p>Precio: <span>{{videojuego.precio}}€</span></p>
            <div class="contenedor-cantidad">
                <img id="restar" src="/static/img/restar.png" alt="" (click)="disminuirCantidad()">
                <p id="cantidad">{{cantidad}}</p>
                <img id="anadir" src="/static/img/anadir.png" alt="" (click)="aumentarCantidad()">
            </div>
            <button class="btn-primary" (click)="agregarAlCarrito()">Añadir al carrito</button>
        </div>
    </div>
    <div class="separador"></div>
    <div class="mas-datos">
        <div class="dato">
            <h2>Descripcion</h2>
            <p>{{videojuego.descripcion}}</p>
        </div>
        <div class="separador2"></div>
        <div class="dato">
            <h4>Género</h4>
            <p>{{videojuego.genero}}</p>
        </div>
        <div class="separador2"></div>
        <div class="dato">
            <h4>Desasrrollador</h4>
            <p>{{videojuego.desarrollador}}</p>
        </div>
        <div class="separador2"></div>
        <div class="dato">
            <h4>Fecha de lanzamiento</h4>
            <p>{{videojuego.fecha_lanzamiento}}</p>
        </div>
    </div>
</div>