<div class="cont-listado">
    <h2>listado de videojuegos</h2>

    <div class="contenedor-items">
        <div class="item" *ngFor="let v of videojuegos">
            <h3><span>{{v.nombre}}</span></h3>
            <img class="imagen-item" src="/web-services/imagen-videojuego/{{v.id}}">
            <p>Precio: <span>{{v.precio}}</span>€</p>
            <p>Plataforma: <span>{{v.plataforma}}</span></p>

            <button class="btn-primary" (click)="verDetalles(v)">Ver detalles</button>
        </div>
    </div>
</div>